<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" />
    <link href="https://fontawesome.com/kits/6d8f4157fd/icons" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre-Home</title>
</head>
<body>
    <header>
        <div class="flex-logo">
            <p class="img-logo"><img src="/img/logo-mercado-liebre.svg"></p>
            <div class="barra">
                <input class="busqueda" name="busqueda" type="text" placeholder="Buscar productos..."><i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
            <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>
        
        <nav class="lista-horizon">
        
            <ul class="lista-ofertas">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
            <ul class="lista-opc">
                <li><a href="/register.html">Crea tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login.html">Ingresa<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <section>
            <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
            <div><img class="img-banner"  src="/img/img-home-banner.jpg"></div>
        </section>
        
    </header>
    <main class="main-posicion">
        
            <div><h2 class= "titulares">Basado en tu última visita</h2></div>
            <section class="section-product">
            
                <article class="art-prod">
                    <img class="img-producto" src="/img/img-cafetera-moulinex.jpg">
                    <article class="detalle-valor-prod">
                        <div class="borde-truck"><i class="fa-solid fa-truck"></i></div>
                        <span class="precios">$6.770</span>
                        <span class="descuentos">40% OFF</span>
                        <div class="desc-articulo">Cafetera Moulinex</div>
                    </article>
                </article>
                <article class="art-prod">
                    <img class="img-producto" src="/img/img-macbook-pro-2019.jpg">
                    <article class="detalle-valor-prod">
                        <div class="borde-truck"><i class="fa-solid fa-truck"></i></div>
                        <span class="precios">$230.000</span>
                        <span class="descuentos">20% OFF</span>
                        <div class="desc-articulo">MacBook Pro 2019</div>
                    </article>
                </article>
                <article class="art-prod">
                    <img class= "img-producto" src="/img/img-samsung-galaxy-s10.jpg">
                    <article class="detalle-valor-prod">
                        <div class="borde-truck"><i class="fa-solid fa-truck"></i></div>
                        <span class="precios">$70.500</span>
                        <span class="descuentos">10% OFF</span>
                        <div class="desc-articulo">Samsung Galaxy S10</div>
                    </article>
                </article>
                <article class="art-prod">
                    <img class="img-producto" src="/img/img-tv-samsung-smart.jpg">
                    <article class="detalle-valor-prod">
                        <div class="borde-truck"><i class="fa-solid fa-truck"></i></div>
                        <span class="precios">$23.200</span>
                        <span class="descuentos">5% OFF</span>
                        <div class="desc-articulo">Samsung Smart TV 43'</div>
                    </article>
                </article>
    
            </section>

        <div><h2 class= "titulares">Ofertas</h2></div>
        <section class="section-product">
            
            <article class="art-prod">
                <img class="img-producto" src="/img/img-cafetera-moulinex.jpg">
                <article class="detalle-valor-prod">
                    <div class="borde-truck"><i class="fa-solid fa-truck"></i></div>
                    <span class="precios">$6.770</span>
                    <span class="descuentos">40% OFF</span>
                    <div class="desc-articulo">Cafetera Moulinex</div>
                </article>
            </article>
            <article class="art-prod">
                <img class="img-producto" src="/img/img-macbook-pro-2019.jpg">
                <article class="detalle-valor-prod">
                    <div class="borde-truck"><i class="fa-solid fa-truck"></i></div>
                    <span class="precios">$230.000</span>
                    <span class="descuentos">20% OFF</span>
                    <div class="desc-articulo">MacBook Pro 2019</div>
                </article>
            </article>
            <article class="art-prod">
                <img class= "img-producto" src="/img/img-samsung-galaxy-s10.jpg">
                <article class="detalle-valor-prod">
                    <div class="borde-truck"><i class="fa-solid fa-truck"></i></div>
                    <span class="precios">$70.500</span>
                    <span class="precios">$70.500</span>
                    <div class="descuentos">10% OFF</div>
                    <div class="desc-articulo">Samsung Galaxy S10</div>
                </article>
            </article>
            <article class="art-prod">
                <img class="img-producto" src="/img/img-tv-samsung-smart.jpg">
                <article class="detalle-valor-prod">
                    <div class="borde-truck"><i class="fa-solid fa-truck"></i></div>
                    <span class="precios">$23.200</span>
                    <span class="descuentos">5% OFF</span>
                    <div class="desc-articulo">Samsung Smart TV 43'</div>
                </article>
            </article>

        </section>

    </main>
    <footer class="pie-pag">
        <section>
            <article class="art-footer"><div><i class="fa-solid fa-credit-card"></i></div>
                <div><h2>Paga con tarjeta o efectivo</h2></div>
                <div>Con MercadoLiebreCash tenés cuotas sin</div>
                <div>interes con trajeta o efectivo en puntos</div>
                <div>de pago. ¡Y siempre es seguro!</div>
            </article>
        
       
            <article class="art-footer"><i class="fa-solid fa-gift"></i>
                <div><h2>Envíos gratis desde %2.500</h2></div>
                <div>Solo por estar registrado en Mercado Liebre</div>
                <div>tenés envios gratis en miles de productos.Es</div>
                <div>un beneficio de mercado puntos</div>
            </article>
        
        
            <article class="art-footer"><i class="fa-solid fa-user-shield"></i>
                <div><h2>Seguridad, de principio a fin</h2></div>
                <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,</div>
                <div>porque estás siempre protegid@.</div>
            </article>
        </section>
        <section>
            <p><strong>© 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>

    </footer>
</body>
</html>