<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/register.css" rel="stylesheet" />
    <link href="https://fontawesome.com/kits/6d8f4157fd/icons" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre-Login</title>
    
</head>
<body>
    <header>
        <div class="flex-logo"><img src="/img/logo-mercado-liebre.svg"></div>
        <div class="busqueda">
            <input type="text" placeholder="Buscar productos..."><i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="link-compra"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</div>
        
    </header>

    <main>
        <!--creacion del formulario-->

        <form action="/login.html" method="POST">
            <section class="contenedor-main">
                <div class="interline">
                    <label><h3></h3>Nombre de usuari@</label>
                    <input type="text" name="nombre" required>
                </div>
                <div class="interline">
                    <label>Contraseña</label>
                    <input type="password" name="contrasena">
                </div>
                
                <button type="submit" class="button-style">Enviar</button>
            </section>
            

        </section>

        </form>


    </main>
</body>
<main>
